In [3]:
import pandas as pd

In [5]:
df = pd.read_csv("Data/20-06-2019-TO-18-06-2021TCSEQN.csv")

In [10]:
df.tail(20)

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
476,TCS,EQ,24-May-2021,3080.50,3081.50,3105.00,3072.00,3082.45,3081.50,3089.42,1652260,5.104527e+09,79516,896770,54.28
477,TCS,EQ,25-May-2021,3081.50,3092.00,3128.25,3082.10,3115.00,3114.00,3111.62,1841613,5.730396e+09,122270,902281,48.99
478,TCS,EQ,26-May-2021,3114.00,3120.00,3165.00,3103.80,3158.00,3158.50,3143.41,1923753,6.047145e+09,98431,937133,48.71
479,TCS,EQ,27-May-2021,3158.50,3161.95,3217.75,3161.80,3198.00,3180.00,3189.10,5959785,1.900635e+10,181046,3733267,62.64
480,TCS,EQ,28-May-2021,3180.00,3189.50,3198.00,3135.65,3146.35,3143.60,3161.25,1763701,5.575493e+09,98509,941310,53.37
481,TCS,EQ,31-May-2021,3143.60,3150.00,3170.35,3128.60,3163.40,3159.15,3155.52,1652799,5.215439e+09,86026,731415,44.25
482,TCS,EQ,01-Jun-2021,3159.15,3168.60,3169.95,3132.00,3153.90,3153.00,3147.93,1377441,4.336083e+09,91948,748839,54.36
483,TCS,EQ,02-Jun-2021,3153.00,3150.85,3159.45,3115.00,3135.00,3129.45,3128.08,2240078,7.007134e+09,132990,1411614,63.02
484,TCS,EQ,03-Jun-2021,3129.45,3154.55,3154.55,3122.65,3144.90,3141.25,3136.68,1281706,4.020301e+09,91185,617798,48.20
485,TCS,EQ,04-Jun-2021,3141.25,3128.00,3156.85,3125.00,3138.50,3143.75,3140.46,1836060,5.766071e+09,78503,1117232,60.85
486,TCS,EQ,07-Jun-2021,3143.75,3145.00,3190.45,3133.60,3187.00,3183.20,3157.52,2559821,8.082689e+09,102542,1587945,62.03
487,TCS,EQ,08-Jun-2021,3183.20,3198.00,3231.00,3187.20,3199.35,3200.15,3212.89,2574057,8.270160e+09,115327,1314327,51.06
488,TCS,EQ,09-Jun-2021,3200.15,3202.00,3220.00,3186.20,3199.70,3200.25,3202.19,1710925,5.478706e+09,75025,996569,58.25
489,TCS,EQ,10-Jun-2021,3200.25,3210.00,3224.00,3193.00,3216.00,3216.80,3210.54,1874324,6.017590e+09,100093,1002378,53.48
490,TCS,EQ,11-Jun-2021,3216.80,3211.55,3309.00,3211.00,3279.00,3273.80,3269.42,3452954,1.128917e+10,139241,1428491,41.37
491,TCS,EQ,14-Jun-2021,3273.80,3279.00,3308.70,3270.35,3277.15,3276.35,3284.58,1847360,6.067800e+09,82241,925400,50.09
492,TCS,EQ,15-Jun-2021,3276.35,3298.00,3298.00,3251.55,3262.00,3262.75,3275.11,1304985,4.273970e+09,96054,694189,53.20
493,TCS,EQ,16-Jun-2021,3262.75,3262.10,3294.70,3253.00,3270.00,3274.35,3273.56,1635552,5.354078e+09,92225,973246,59.51
494,TCS,EQ,17-Jun-2021,3274.35,3265.50,3336.05,3260.00,3328.00,3317.75,3295.52,2273413,7.492088e+09,131862,1308141,57.54
495,TCS,EQ,18-Jun-2021,3317.75,3350.90,3358.00,3275.00,3303.00,3297.30,3312.52,3380431,1.119776e+10,141335,1857893,54.96

In [13]:
df.shape

(496, 15)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 496 entries, 0 to 495
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Symbol                  496 non-null    object
 1   Series                  496 non-null    object
 2   Date                    496 non-null    object
 3   Prev Close              496 non-null    float64
 4   Open Price              496 non-null    float64
 5   High Price              496 non-null    float64
 6   Low Price               496 non-null    float64
 7   Last Price              496 non-null    float64
 8   Close Price             496 non-null    float64
 9   Average Price           496 non-null    float64
 10  Total Traded Quantity   496 non-null    int64
 11  Turnover                496 non-null    float64
 12  No. of Trades           496 non-null    int64
 13  Deliverable Qty         496 non-null    int64
 14  % Dly Qt to Traded Qty  496 non-null    float64
dtypes: float64(9), int64(3), object(3)
memory usage: 58.2+ KB

In [21]:
df.Symbol #df["Symbol"] #accessing columns

0      TCS
1      TCS
2      TCS
3      TCS
4      TCS
      ...
491    TCS
492    TCS
493    TCS
494    TCS
495    TCS
Name: Symbol, Length: 496, dtype: object

In [23]:
type(df.Symbol)

pandas.core.series.Series

In [26]:
df[["Symbol", "Series"]] #accessing multiple columns

    Symbol Series
0      TCS     EQ
1      TCS     EQ
2      TCS     EQ
3      TCS     EQ
4      TCS     EQ
..     ...    ...
491    TCS     EQ
492    TCS     EQ
493    TCS     EQ
494    TCS     EQ
495    TCS     EQ

[496 rows x 2 columns]

In [28]:
df.columns

Index(['Symbol', 'Series', 'Date', 'Prev Close', 'Open Price', 'High Price',
       'Low Price', 'Last Price', 'Close Price', 'Average Price',
       'Total Traded Quantity', 'Turnover', 'No. of Trades', 'Deliverable Qty',
       '% Dly Qt to Traded Qty'],
      dtype='object')

In [ ]:
#accessing rows